<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testSuite">
    <listeners>
        <listener class-name="com.reporto.ReportoListner"></listener>
    </listeners>
    <test name="testTest">
        <parameter name="sUsername" value="testuser_1"/>
        <parameter name="sPassword" value="Test@123"/>
        <classes>
            <class name="functional.FunctionalSample"/>

        </classes>
    </test> <!-- Test -->

    <test name="testAAAATest">
        <classes>
            <class name="functional.FunctionalSample1"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->

<!--https://github.com/BlackrockDigital/startbootstrap-sb-admin-2-->
